# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~

# Operating System Files
.DS_Store
Thumbs.db

# Project specific
.env
*.log
*.sqlite3

# Elasticsearch
elasticsearch-data/

# Alembic
alembic/versions/*
!alembic/versions/.gitkeep

# Test coverage
.coverage
htmlcov/

# Jupyter Notebooks
.ipynb_checkpoints

# pyenv
.python-version

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Sphinx documentation
docs/_build/

# Backup files
*.bak

# Database
*.db
*.sqlite